.main__name {
    font-weight: 900;
    font-size: 48px;
    color: #fff;
    margin: 0;
}
/*
@media screen and (max-width: 425px) {
    .main__name {
        text-align: center;
    }
}
*/

@media screen and (max-width: 1280px) {
    .main__name {
        font-size: calc(36px + (48 - 36) * (100vw - 320px) / (1280 - 320));
    }
    
}