.header {
    background-image: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.1) 80%,rgba(0, 0, 0, 0) 100%);
}

@media screen and (max-width: 900px) {
    .header {
        background-image: none;
        background-color: rgba(0, 0, 0, 0.4);
    }
}