.main__info {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

@media screen and (max-width: 1280px) {
    .main__info {
        font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
    }
    
}